<h1>Productos</h1>
<section class = "filters">
    <div class = "choice">
        <input type="radio" name="clothe" class="none" checked>
        <label for="none"> Sin filtros </label>
    </div>
    <div class = "choice">
        <input type="radio" name="clothe" class="shoes">
        <label for="e"> Calzados </label>
    </div>
    <div class = "choice">
        <input type="radio" name="clothe" class="trousers">
        <label for="h"> Pantalones </label>
    </div>
    <div class="choice">
        <input type="radio" name="clothe" class="shirts">
        <label for="h"> Remeras y Camisas </label>
    </div>
    <div class = "choice">   
        <input type="radio" name="clothe" class="hoodies-jackets">
        <label for="p"> Buzos y Camperas </label>
    </div>
</section>