* {
    margin: 0px;
    padding: 0px;
}

/***** CONTENEDOR SUPERIOR *****/
.top-container {
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
    background-color: rgb(204, 233, 253);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 5vw;
}

.image {
    width: 40px;
    transition: transform 0.2s;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.navbar {
    display: flex;
    margin-right: 5vw;
}

.navbar a {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-right: 20px;
    transition: font-size 0.2s, background-color 0.1s;
}

.navbar a:hover {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(137, 202, 245);
}

/***** CONTENEDOR PRINCIPAL *****/

#root {
    display: flex;
    min-height: 95vh;
}

/* LOGIN-CHECKIN */

.login-checkin-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50vw;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.options button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: background-color 0.2ms;
}

.options button:hover {
    background-color: rgb(137, 202, 245);
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-form input {
    margin-bottom: 10px;
}

.checkin-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checkin-form input {
    margin-bottom: 10px;
}

.submit {
    justify-self: center;
    width: 100px;
    margin-top: 10px;
    transition: background-color 0.2ms;
}

.submit:hover {
    background-color: rgb(137, 202, 245);
    cursor: pointer;
}

/* USUARIO */
.user-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.user-data {
    display: flex;
    flex-direction: column;
}

.user-data span {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 10px;
}

/* PRODUCTOS */
.filters-products-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filters-products-container h1 {
    margin-top: 10px;
    text-align: center;
}

.add-button {
    width: 200px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filters-and-products {
    display: flex;
    width: 100%;
}

.filters {
    display: flex;
    flex-direction: column;
    min-width: 10%;
    padding-left: 10px;
    padding-top: 2%;
    border-right: 1px dashed black;
}

.products {
    display: grid;
    width: 90%;
    grid-template-columns: 20% 20% 20% 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 5%;
    grid-auto-rows: 360px;
    column-gap: 5%;
    row-gap: 5%;
    justify-items: center;
}

.clothe {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(137, 202, 245);
    border-radius: 3%;
}

.clothe-image {
    margin-top: 20px;
    margin-bottom: 10px;
}

.clothe span {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.clothe button {
    margin-bottom: 10px;   
}

.clothe button:hover {
    cursor: pointer;
}

/*Formularios para hacer inserciones y modificaciones a los productos*/
.clothes-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204, 233, 253);
    border: 1px solid rgb(137, 202, 245);
    border-radius: 1%;
    min-width: 30%;
    min-height: 70%;
}

.form-container h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.clothe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.clothe-form input {
    margin-bottom: 10px;
}

.close-form {
    align-self: flex-end;
}

.close-form:hover {
    cursor: pointer;
}

#send-form {
    margin-top: 20px;
}

/***** CONTENEDOR INFERIOR *****/

.bot-container {
    display: flex;
    align-items: center;
    background-color: rgb(204, 233, 253);
}