* {
    margin: 0px;
    padding: 0px;
}

/***** GENERAL *****/
h1, span, a, label, input, button {
    font-family: sans-serif;
}

/***** CONTENEDOR SUPERIOR *****/
.top-container {
    display: flex;
    min-width: 710px;
    max-width: 100%;
    justify-content: space-between;
    min-height: 37px;
    max-height: 5vh;
    background-color: rgb(204, 233, 253);
}

.logo {
    display: flex;
    margin-left: 5vw;
}

.logo a {
    display: flex;
    align-items: center;
}

.image {
    width: 30px;
    transition: transform 0.2s;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.navbar {
    display: flex;
    margin-right: 5vw;
}

.navbar a {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.2s;
}

.navbar a:hover {
    cursor: pointer;
    background-color: rgb(137, 202, 245);
}

/***** CONTENEDOR PRINCIPAL *****/

#root {
    display: flex;
    min-height: 95vh;
}

/* HOME */
.home-container {
    display: flex;
    width: 100%;
    height: 95vh;
}

.home-container img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

/* LOGIN-CHECKIN */

.login-checkin-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60vw;
    height: 300px;
}

.login-checkin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.options button {
    min-width: 150px;
    max-width: 200px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.2ms;
}

.options button:hover {
    background-color: rgb(137, 202, 245);
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

label {
    font-size: 16px;
}

.login-form input {
    width: 200px;
    margin-bottom: 20px;
}

.login-form .submit {
    justify-self: center;
    width: 100px;
    margin-top: 10px;
    transition: background-color 0.2ms;
}

.checkin-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checkin-form input {
    margin-bottom: 20px;
}

.submit:hover {
    background-color: rgb(137, 202, 245);
    cursor: pointer;
}

/* USUARIO */
.user-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.user-data {
    display: flex;
    flex-direction: column;
}

.user-data span {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

/* PRODUCTOS */
.filters-products-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filters-products-container h1 {
    margin-top: 10px;
    text-align: center;
}

.add-button {
    width: 200px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filters-and-products {
    display: flex;
    min-width: 708px;
    max-width: 100%;
}

.filters {
    display: flex;
    flex-direction: column;
    min-width: 10%;
    padding-left: 10px;
    padding-top: 2%;
    border-right: 1px dashed black;
}

.products {
    display: grid;
    width: 90%;
    grid-template-columns: 20% 20% 20% 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 5%;
    grid-auto-rows: 360px;
    column-gap: 5%;
    row-gap: 5%;
    justify-items: center;
}

.clothe {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(137, 202, 245);
    border-radius: 3%;
    gap: 3px;
}

.clothe-image {
    margin-top: 20px;
    margin-bottom: 10px;
}

.clothe span {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 5px;
    text-align: center;
}

.clothe button {
    margin-bottom: 10px;   
}

.clothe button:hover {
    cursor: pointer;
}

/*Formularios para hacer inserciones y modificaciones a los productos*/
.clothes-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204, 233, 253);
    border: 1px solid rgb(137, 202, 245);
    border-radius: 1%;
    min-width: 30%;
    min-height: 70%;
}

.form-container h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.clothe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.clothe-form input {
    margin-bottom: 10px;
}

.close-form {
    align-self: flex-end;
}

.close-form:hover {
    cursor: pointer;
}

#send-form {
    margin-top: 20px;
}

/***** SMARTPHONE-MEDIA-QUERIES *****/
@media screen and (max-width: 480px)  {

    /* NAVBAR */
    .top-container {
        min-width: 340px;
        max-width: 100%;
    }
    
    /* FILTROS DE PRODUCTOS */
    .filters-products-container h1 {
        margin-bottom: 20px;
    }

    .add-button {
        margin-left: 0px;
        margin-bottom: 50px;
        align-self: center;
    }

    .filters-and-products {
        min-width: 340px;
        max-width: 100%;
        flex-direction: column;
    }

    .filters {
        min-width: 340px;
        max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0px;
        border:  none;
        margin-bottom: 20px;
        padding-left: 5px;
    }

    .filters label {
        font-size: 14px;
    }

    .choice {
        display: flex;
        align-items: center;
        gap: 1px;
    }  

    /* PRODUCTOS */

    .products {
        width: 100%;
        grid-template-columns: 40% 40%;
        column-gap: 5%;
        row-gap: 20px;
        padding-left: 0px;
        margin-top: 0px;
        justify-content: center;
    }

    .clothe {
        gap: 2px;
    }

    .clothe span {
        font-size: 14px;
    }
}