* {
    margin: 0px;
    padding: 0px;
}

/***** CONTENEDOR SUPERIOR *****/
.top-container {
    display: flex;
    justify-content: space-between;
    min-height: 7vh;
    background-color: rgb(137, 238, 238);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 5vw;
}

.image {
    width: 40px;
    transition: transform 0.2s;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.navbar {
    display: flex;
    margin-right: 5vw;
}

.navbar a {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-right: 20px;
    transition: font-size 0.2s, background-color 0.1s;
}

.navbar a:hover {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(137, 230, 230);
}

/***** CONTENEDOR PRINCIPAL *****/

#root {
    display: flex;
    min-height: 93vh;
}

/* LOGIN-CHECKIN */

.login-checkin-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50vw;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.options button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: background-color 0.2ms;
}

.options button:hover {
    background-color: rgb(137, 238, 238);
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-form input {
    margin-bottom: 10px;
}

.checkin-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checkin-form input {
    margin-bottom: 10px;
}

.submit {
    justify-self: center;
    width: 100px;
    margin-top: 10px;
    transition: background-color 0.2ms;
}

.submit:hover {
    background-color: rgb(137, 238, 238);
    cursor: pointer;
}

/***** CONTENEDOR INFERIOR *****/

.bot-container {
    display: flex;
    align-items: center;
    background-color: rgb(137, 238, 238);
}